.example-h2 {
    margin: 10px;
  }
  
  .my-form ul {
    padding: 1px !important;
  }
  
  mat-dialog-content{
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  
  .cdk-overlay-pane{
    padding-top: 5px;
  }
  
  .mat-icon-button{
    background: #FAAB1A;
  }
  
  .mat-raised-button{
    background: #FAAB1A;
  }
  
  .button{
    background: #FAAB1A;
    border-radius: 50%;
    font-size: 21px;
    cursor: pointer;
    margin:1px;
  }
  
  .mat-dialog-actions{
    margin-bottom: 15px;
  }
  