<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <div style="width: 50%">
      <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
  </div>
  <div style="width: 50%;" fxLayoutAlign="end">
      <button mat-icon-button
      matTooltip="Tiene una sugerencia para mejorar esta buscador"
      matTooltipClass="example-tooltip-red"
      aria-label="Button that shows a red tooltip"
      class="example-button" (click)="openModalSugerencia()">
        <mat-icon>mail_outline</mat-icon>
      </button>
  </div>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" [opened]="true">
      <app-template></app-template>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-card class="mat-card-content-ext">
        <br/>
        <div class="div-container" fxLayout="row" fxLayout.lt-md="column" style="padding-bottom: 10px">
          <div class="div-item" style="padding-right: 5px; ">
            <mat-card style="height: 600px;" ngStyle.lt-md="height: 100%;">
              <mat-card-title style="font-size: 1.1em">Datos del procedimiento<mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <mat-list>
                  <mat-list-item style="height: 100%">
                    <div fxLayout="row" fxLayoutAlign="start" fxFlex="100">
                      <div fxFlex="35" class="col-ficha-detalle">
                        <p>Nomenclatura</p>
                      </div>
                      <div fxFlex="65" class="col-ficha-valor">
                        <p>{{ ficha.nomenclatura }}</p>
                      </div>
                    </div>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item style="height: 100%">
                    <div fxLayout="row" fxLayoutAlign="start" fxFlex="100">
                      <div fxFlex="35" class="col-ficha-detalle">
                        Entidad convocante
                      </div>
                      <div fxFlex="65" class="col-ficha-valor">
                        <p>{{ ficha.entidadConvocante.nombreOrganismo }}</p>
                      </div>
                    </div>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item style="height: 100%">
                    <div fxLayout="row" fxLayoutAlign="start" fxFlex="100">
                      <div fxFlex="35" class="col-ficha-detalle">
                        Objeto de contratación
                      </div>
                      <div fxFlex="65" class="col-ficha-valor">
                        <p>{{ ficha.tipoObjeto }}</p>
                      </div>
                    </div>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item style="height: 100%">
                    <div fxLayout="row" fxLayoutAlign="start" fxFlex="100">
                      <div fxFlex="35" class="col-ficha-detalle">
                        Descripción del Objeto
                      </div>
                      <div fxFlex="65" class="col-ficha-valor">
                        <p>{{ ficha.descripcionObjeto }}</p>
                      </div>
                    </div>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <div fxLayout="row" fxLayoutAlign="start" fxFlex="100">
                      <div fxFlex="35" class="col-ficha-detalle">
                        Fecha y Hora Publicación
                      </div>
                      <div fxFlex="65" class="col-ficha-valor">
                        <p>{{ ficha.fechaPublicacion }}</p>
                      </div>
                    </div>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="div-item" style="padding-left: 5px" ngStyle.lt-md="padding-left: 0px; padding-top: 10px">
            <mat-card style="height: 600px;" ngStyle.lt-md="height: 100%;">
              <mat-card-title style="font-size: 1.1em">Cronograma del procedimiento<mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <mat-list >
                  <mat-list-item style="height: 100%">
                    <div fxLayout="row" fxLayoutAlign="start" fxFlex="100">
                      <div fxFlex="40" class="col-ficha-detalle">
                        <p>Etapa</p>
                      </div>
                      <div fxFlex="30" class="col-ficha-detalle">
                        <p>Fecha Inicio</p>
                      </div>
                      <div fxFlex="30" class="col-ficha-detalle">
                        <p>Fecha Fin</p>
                      </div>
                    </div>
                  </mat-list-item>
                  <div *ngFor="let crono of ficha.listaCronograma" >
                    <mat-list-item style="height: 100%;">
                      <div fxLayout="row" fxLayoutAlign="start" fxFlex="100">
                        <div fxFlex="40" class="col-ficha-valor-titulo" >
                          <p>{{ crono.descripcionEtapa }}</p>
                        </div>
                        <div fxFlex="30" class="col-ficha-valor">
                          <p>{{ crono.fechaInicio }} {{ crono.horaInicio }}</p>
                        </div>
                        <div fxFlex="30" class="col-ficha-valor">
                          <p>{{ crono.fechaFin }} {{ crono.horaInicio }}</p>
                        </div>
                      </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                  </div>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill style="padding-bottom: 10px">
          <div fxFlex="100" class="div-item">
            <mat-card fxHide.lt-md="true">
              <mat-card-title style="font-size: 1.1em">Entidades contratantes<mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <mat-list>
                  <mat-list-item style="height: 100%">
                    <div fxLayout="row" fxLayoutAlign="start" fxFlex="100">
                      <div fxFlex="65" class="col-ficha-detalle">Entidad Contratante</div>
                      <div fxFlex="35" class="col-ficha-detalle">N° RUC</div>
                    </div>
                  </mat-list-item>
                  <div *ngFor="let entid of ficha.listaEntidadesContratantes">
                    <mat-list-item style="height: 100%">
                      <div fxLayout="row" fxLayoutAlign="start" fxFlex="100">
                        <div fxFlex="65" class="col-ficha-valor">
                          <p>{{ entid.razonSocial }}</p>
                        </div>
                        <div fxFlex="35" class="col-ficha-valor">
                          <p>{{ entid.numeroDocumento }}</p>
                        </div>
                      </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                  </div>
                </mat-list>
              </mat-card-content>
              <mat-card-actions> </mat-card-actions>
            </mat-card>

            <mat-card fxShow.gt-xs="false">
              <mat-card-title style="font-size: 1.1em">Entidades contratantes<mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <mat-list>
                  
                  <div *ngFor="let entid of ficha.listaEntidadesContratantes">
                    <mat-list-item style="height: 100%">
                      <div fxLayout="column" >
                        <div class="col-ficha-valor">
                          <p><span style="font-weight: 700;">Entidad Contratante:&nbsp;</span> {{ entid.razonSocial }}</p>
                        </div>
                        <div fxFlex="35" class="col-ficha-valor">
                          <p><span style="font-weight: 700;">N° RUC:&nbsp;</span> {{ entid.numeroDocumento }}</p>
                        </div>
                      </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                  </div>
                </mat-list>
              </mat-card-content>
              <mat-card-actions> </mat-card-actions>
            </mat-card>

          </div>
        </div>
        <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill style="padding-bottom: 10px">
          <div fxFlex="100" class="div-item">
            <mat-card fxHide.lt-md="true"> 
              <mat-card-title style="font-size: 1.1em">Listado de documentos<mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content >
                <mat-list>
                  <mat-list-item>
                    <div fxLayout="row" fxLayoutAlign="start" fxFlex="100" >
                      <div fxFlex="30" class="col-ficha-detalle">
                        <p>Etapa</p>
                      </div>
                      <div fxFlex="30" class="col-ficha-detalle">
                        <p>Documento</p>
                      </div>
                      <div fxFlex="15" class="col-ficha-detalle">
                        <p>Archivo</p>
                      </div>
                      <div fxFlex="25" class="col-ficha-detalle">
                        <p>Fecha de publicación</p>
                      </div>
                    </div>
                  </mat-list-item>
                  <div *ngFor="let doc of ficha.listaDocumentos">
                    <mat-list-item style="height: 100%">
                      <div fxLayout="row" fxLayoutAlign="start" fxFlex="100">
                        <div fxFlex="30" class="col-ficha-valor">
                          <p style="text-align: left">{{ doc.etapa }}</p>
                        </div>
                        <div fxFlex="30" class="col-ficha-valor">
                          <p style="text-align: left">
                            {{ doc.tipoDocumento }}
                          </p>
                        </div>
                        <div fxFlex="15" class="col-ficha-valor">
                          <p>
                            <a href="{{ dominioDocumento }}{{
                                doc.codigoAlfresco
                              }}">
                              <img src="assets/images/{{ doc.extension }}.png" />
                            </a>
                          </p>
                        </div>
                        <div fxFlex="25" class="col-ficha-valor">
                          <p>{{ doc.fechaPublicacion }}</p>
                        </div>
                      </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                  </div>
                </mat-list>
              </mat-card-content>
              <mat-card-actions> </mat-card-actions>
            </mat-card>

            <mat-card fxShow.gt-xs="false">
              <mat-card-title style="font-size: 1.1em">Listado de documentos<mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content >
                <mat-list>
                  
                  <div *ngFor="let doc of ficha.listaDocumentos">
                    <mat-list-item style="height: 100%">
                      <div fxLayout="column" fxLayoutAlign="start" fxFlex="100">
                        <div class="col-ficha-valor">
                          <p style="color: #4A6572;"><span style="font-weight: bold; text-align: justify;" >Etapa:&nbsp;</span> <span style="font-weight: 400;">{{ doc.etapa }}</span> </p>
                        </div>
                        <div class="col-ficha-valor">
                          <p style="color: #4A6572;"><span style="font-weight: bold; text-align: justify;" >Documento:&nbsp;</span> <span style="font-weight: 400;">{{ doc.tipoDocumento }}</span> </p>
                        </div>
                        <div class="col-ficha-valor" fxLayout="row" >
                          <div style="font-weight: bold; text-align: justify;">Archivo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                          <div><a href="{{ dominioDocumento }}{{doc.codigoAlfresco}}">
                          <img src="assets/images/{{ doc.extension }}.png" />
                        </a></div>   
                        </div>
                        <div class="col-ficha-valor">
                          <p style="color: #4A6572;"><span style="font-weight: bold; text-align: justify;" >Fecha de publicación:&nbsp;</span> <span style="font-weight: 400;">{{ doc.fechaPublicacion }}</span> </p>
                        </div>
                      </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                  </div>
                </mat-list>
              </mat-card-content>
              <mat-card-actions> </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill style="padding-bottom: 10px">
          <div fxFlex="100" class="div-item">
            <mat-card>
              <mat-card-title style="font-size: 1.1em">Items del procedimiento<mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <mat-accordion *ngFor="let item of ficha.listaItems">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header style="background-color: #4A6572;">
                      <mat-panel-title>
                        <span style="font-weight: 900; color: white; font-size: 0.8em">{{ item.nroItem }}.&nbsp;&nbsp;</span><span
                          style="font-size: 0.8em; color: white;">{{
                          item.descripcion
                        }}</span>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list fxHide.lt-md="true">
                      <mat-list-item style="height: 100%">
                        <div fxLayout="row" fxLayoutAlign="start" fxFlex="40">
                          <div fxFlex="35" class="col-ficha-detalle">
                            Código CUBSO
                          </div>
                          <div fxFlex="65" class="col-ficha-valor">
                            <p>{{ item.codigoCubso }}</p>
                          </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start" fxFlex="60">
                          <div fxFlex="50" class="col-ficha-detalle">
                            Descripción CUBSO
                          </div>
                          <div fxFlex="50" class="col-ficha-valor">
                            <p>{{ item.descripcionCubso }}</p>
                          </div>
                        </div>
                      </mat-list-item>
                      <mat-list-item style="height: 100%">
                        <div fxLayout="row" fxLayoutAlign="start" fxFlex="40">
                          <div fxFlex="35" class="col-ficha-detalle">
                            Cantidad
                          </div>
                          <div fxFlex="65" class="col-ficha-valor">
                            <p>{{ item.cantidad }} - {{ item.unidadMedia }}</p>
                          </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start" fxFlex="60">
                          <div fxFlex="50" class="col-ficha-detalle">
                            Valor Referencial/Estimado Total
                          </div>
                          <div fxFlex="50" class="col-ficha-valor">
                            <p>
                              {{ item.valorReferencialTotal }} {{ item.moneda }}
                            </p>
                          </div>
                        </div>
                      </mat-list-item>
                      <mat-list-item style="height: 100%">
                        <div fxLayout="row" fxLayoutAlign="start" fxFlex="40">
                          <div fxFlex="35" class="col-ficha-detalle">
                            Paquete
                          </div>
                          <div fxFlex="65" class="col-ficha-valor">
                            <p>{{ item.paquete }}</p>
                          </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start" fxFlex="60">
                          <div fxFlex="50" class="col-ficha-detalle">
                            Reserva Para MYPE
                          </div>
                          <div fxFlex="50" class="col-ficha-valor">
                            <p>{{ item.mype }}</p>
                          </div>
                        </div>
                      </mat-list-item>
                    </mat-list>

                    <mat-list fxShow.gt-xs="false"> 
                      <mat-list-item style="height: 100%">
                        <div fxLayout="column">
                          <div class="col-ficha-valor">
                            <p style="color: #4A6572;"><span style="font-weight: bold; text-align: justify;" >Código CUBSO:&nbsp;</span> <span style="font-weight: 400;">{{ item.codigoCubso }}</span> </p>
                          </div>
                          <div class="col-ficha-valor">
                            <p style="color: #4A6572;"><span style="font-weight: bold; text-align: justify;" >Descripción CUBSO:&nbsp;</span> <span style="font-weight: 400;">{{ item.descripcionCubso }}</span> </p>
                          </div>
                          <div class="col-ficha-valor">
                            <p style="color: #4A6572;"><span style="font-weight: bold; text-align: justify;" >Cantidad:&nbsp;</span> <span style="font-weight: 400;">{{ item.cantidad }} - {{ item.unidadMedia }}</span> </p>
                          </div>
                          <div class="col-ficha-valor">
                            <p style="color: #4A6572;"><span style="font-weight: bold; text-align: justify;" >Valor Referencial/Estimado Total:&nbsp;</span> <span style="font-weight: 400;">{{ item.valorReferencialTotal }} {{ item.moneda }}</span> </p>
                          </div>
                          <div class="col-ficha-valor">
                            <p style="color: #4A6572;"><span style="font-weight: bold; text-align: justify;" >Paquete:&nbsp;</span> <span style="font-weight: 400;">{{ item.paquete }}</span> </p>
                          </div>
                          <div class="col-ficha-valor">
                            <p style="color: #4A6572;"><span style="font-weight: bold; text-align: justify;" >Reserva Para MYPE:&nbsp;</span> <span style="font-weight: 400;">{{ item.mype }}</span> </p>
                          </div>
                        </div>
                        
                      </mat-list-item>
                
                    </mat-list>
                  </mat-expansion-panel>
                </mat-accordion>
              </mat-card-content>
              <mat-card-actions> </mat-card-actions>
              <br/>
            </mat-card>
          </div>
        </div>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
</div>
