.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

.div-container{
  width: 100%;
}

.div-item{
  width: 100%;
}

.column-detEntidad{
  width: 25%;
  font-size: 14px;
}

.column-fechaConvocatoria{
  width: 10%;
  font-size: 14px;
}

.column-nomenclatura{
  width: 15%;
  font-size: 14px;
}

.column-detObjeto{
  width: 12%;
  font-size: 14px;
}

.column-sintesisProceso{
  width: 10%;
  font-size: 14px;
}

.column-valorReferencial{
  width: 10%;
  font-size: 14px;
}

.column-monedaProceso{
  width: 8%;
  font-size: 14px;
}

.column-nroItem{
  width: 5%;
  font-size: 14px;
}

.column-ficha{
  width: 5%;
}

.column-item-data{
  font-size: 13px;
  color: #4A6572;
}

.column-td-datatable{
  font-size: 12px;
  color: #4A6572;
}

.mat-card-class {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.mat-toolbar {
  background: #D2DBE0;
  color: rgba(0,0,0,.87);
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 50px;
}

mat-sidenav{
  background-color: #344955;
  height: 100%;
}

.mat-card-content-ext{
  background-color: #EDF0F2;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

mat-card-title {
  color: #4A6572;
}

th{
  color: #4A6572;
  font-weight: bold;
}

mat-label {
  color: #4A6572;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 5px;
}

button{
  background: #FAAB1A
}

.col-ficha-detalle {
  font-size: 12px;
  font-weight: 600;
  color: #344955;
  padding-right: 5px;
  display: flex;
  align-items: center;
}

.col-ficha-valor {
  font-size: 11px;
  color: #4A6572;
  text-align: justify;
}

.col-ficha-valor-titulo{
  font-size: 11px;
  color: #4A6572;
  font-weight: 500;
}

.mat-card {
  padding: 5px;
}

mat-accordion{
  padding: 5px;
}

.mat-expansion-panel-body {
  padding: 5px;
}